.report-button {
    position: fixed;
    height: 90px;
    width: 90px;
    bottom: 25px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: var(--button-box-shadow);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-button span {
    font-size: 50px;
    position: absolute; 
    z-index: var(--button-z-index); 
}