.util-button {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--button-box-shadow);
    width: 65px;
    height: 65px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid white;
}

.util-button span {
    display: block;
    height: 4px;
    width: 85%;
    border-radius: var(--standard-border-radius);
    background-color: var(--black);
    margin: 4px 0;
}

