.report-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px;
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--button-box-shadow);
    z-index: 2;
}

.report-form-container div {
    margin: 20px 0;
}

.report-form-container input {
    width: 80%;
    padding: 10px;
    border: 2px solid var(--gray-outlines);
    border-radius: var(--standard-border-radius);
}

.report-form-container button {
    width: 80%;
    height: 2.5em;
    background-color: var(--action-color);
    border: none;
    border-radius: var(--standard-border-radius);
    color: var(--white);
    font-size: 1em;
}