
.report-form input {
    width: 80%;
    padding: 10px;
    border: 2px solid var(--gray-outlines);
    border-radius: var(--standard-border-radius);
}

.red-highlight {
   color: var(--red);
}

.report-form form > div:nth-child(2) {
    position: relative; 

}

.report-form label {
    border-radius: var(--standard-border-radius);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    
    margin: auto;
    margin-bottom: 1rem;

}

.report-form label input {
    width: fit-content;
    
}

.report-form input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    margin-right: 0.65rem;
}

.report-form label a {
    color: var(--black);
    margin: 0 2px;
}

.report-form-container {
    display: flex;
    justify-content: space-between;
}

.line-select-container {
    width: 35%;
}

.direction-select-container {
    width: 65%;
}