.red-highlight {
   color: var(--red);
}

.report-form form > div:nth-child(2) {
    position: relative; 
}

.report-form label {
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
}

.report-form input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    margin-right: 0.65rem;
}

.report-form label a {
    color: var(--black);
    margin: 0 2px;
}

.line-direction-container {
    display: flex;
    justify-content: space-between;
}
.line-select-container {
    width: 35%;
    margin-right: 0.5rem;
}

.direction-select-container {
    width: 65%;
}