.toggle-layer-button {
    z-index: 998;
    box-shadow: var(--button-box-shadow); /* Set a higher z-index value */
}
    
.toggle-layer-button {
    position: fixed;
    height: 3rem;
    width: 3rem;
    bottom: 25px;
    left: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: var(--button-box-shadow);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-layer-button span {
    font-size: 2rem;
    bottom: 35px;
}

@media screen and (min-width: 999px) {
    .toggle-layer-button {
        width: 50px;
        height: 50px;
        bottom: 2rem;
        left: 5rem;
    }
    .toggle-layer-button span {
        position: relative;
        font-size: 2.5rem;
        top: 0.1rem;
        left: 0.05rem;
    }
}