.legal-disclaimer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px;
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--standard-border-radius);
    box-shadow: var(--button-box-shadow);
    z-index: 2;
}

.legal-disclaimer p {
    text-align: left;
}

.legal-disclaimer li {
    margin: 10px 0;
    text-align: left;
}