.util-modal {
    max-width: 225px;
}

.util-modal button {
    width: 95%;
    margin-bottom: 2rem;
}

.util-modal ul {
    list-style: none;
    display: flex;
    right: 2px;
    padding-top: 2%;
    padding: 0;
    margin: 0;
}

.util-modal ul li {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
   
}

.util-modal ul li a {
    color: var(--black);
    padding-left: 0.3rem;
}


.util-modal > div img{
    max-height: 25px;
    padding-left: 0.2rem;
    padding-right: 0.6rem;
}