.util-modal {
    max-width: 225px;
}

.util-modal button {
    padding: 10px 20px;
    width: 95%;
    text-align: left;
}

.util-modal ul {
    margin-left: 2.5vw;
    list-style: none;
    padding: 0;
    text-align: left;
}

.util-modal ul li {
    margin-bottom: 5px;
}

.util-modal ul li a {
    color: var(--black);
}