.inspector-marker {
    animation: fade 1s infinite alternate;
}
  
@keyframes fade { 
    from { opacity: 0.6; } 
}

.leaflet-popup-content div {
    margin-top: 5px;
    color: var(--place-holder-color);
    font-size: 0.9em;
}