:root {
  --action-color: #3070F0;
  --gray-outlines: #c4c4c4;
  --place-holder-color: #646363;
  --white: #fff;
  --black: #000;
  --red: #ff0000;

  --standard-border-radius: 8px;

  --button-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

  --map-z-index: -1;
  --button-z-index: 0;
  --backdrop-z-index: 1;
  --modal-z-index: 2;

  --standard-font-size: 0.9em;
  --button-font-size: 1.1em;
  --big-font-size: 1.5em;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: var(--big-font-size);
  font-weight: 500;
  margin: 0.67em 0;
}

button {
  width: 80%;
  height: 2.5em;
  background-color: var(--action-color);
  border: none;
  border-radius: var(--standard-border-radius);
  color: var(--white);
  font-size: var(--button-font-size);
  font-weight: 600;
  text-align: center;
}

button:hover {
  filter: brightness(1.1);
}

button a {
  color: var(--white);
  font-size: var(--standard-font-size);
  text-decoration: none;
}

p {
  font-size: var(--standard-font-size);
}

@keyframes popup {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 600px;
  max-height: 85vh;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--standard-border-radius);
  box-shadow: var(--button-box-shadow);
  z-index: var(--modal-z-index);
  display: none;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.container.open {
  display: block;
  opacity: 1;

  animation: popup 0.25s ease forwards;
}

@media (max-width: 400px) {
  .container {
    width: 85vw;
  }
}

.highlight {
  border: 3px solid var(--red) !important;
}

.legal-text {
  padding: 25px;
}

/* This makes the zoom and popup animation feeling faster */
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0,0,0.1,1);
	   -moz-transition:    -moz-transform 0.1s cubic-bezier(0,0,0.1,1);
	        transition:         transform 0.1s cubic-bezier(0,0,0.1,1);
	}

.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
  }