:root {
  --action-color: #3070F0;
  --gray-outlines: #c4c4c4;
  --white: #fff;
  --red: #ff0000;

  --button-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

  --standard-border-radius: 8px;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.67em 0;
}