#map {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: var(--map-z-index);
}

.leaflet-control-container {
  display: none;
}

@media (min-width: 999px) {
  .leaflet-control-container {
    display: block;
  }
}